.container{
    position: relative;
    top:195px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
button{
    height: 30px;
    width: auto;
    background-color:#FFEEEE;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    border-style: none;
}
#image{
    height: 350px;
    width: 262px;
    top:31%;
    right:39%;

}
.hover-con{
    height:120px;
    width:230px;
    position: absolute;
    right:100px;
    bottom:260px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 29px;
    display: block;
    animation-name: slide-up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes animate-text{
    50%{
        font-size:38px;
    }
}
.quote-1{
    color:#FFEEEE;
    font-size:30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    position: relative;
    left:65px;
    top:115px;
    animation-name: animate-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes slide-up-down{
    0%{
        right:100px;
        bottom:240px;
    }
    50%{
        right:100px;
        bottom:300px;
    }
    100%{
        right:100px;
        bottom:240px;
    }

}
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3)
{
    #image{
        height: 350px;
        width: 262px;
        top:20%;
        left:18%;
    
    }
    button{
        display: none;
    }
    .hover-con{
        height:120px;
        width:230px;
        position: absolute;
        top: 520px;
        left:97px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 200;
        display: block;
        line-height:23px ;
        animation-name: slide;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    @keyframes slide{
        0%{
            position: absolute;
            top: 520px;
        }
        50%{
            position: absolute;
            top: 490px;
        }
        100%{
            position: absolute;
            top: 520px;
        }
    }
}